.header{
    margin-bottom:25px;
}
.header h1{
    color:#fff;
}

.content{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    column-gap: 25px;
    row-gap: 25px;
}

.card__img{
    height:212px;
}

.card__body{
    background:#01053B;
    color:#fff;
}

.btn__more{
    margin-top:25px;
    border-radius: 25px;
    background:transparent;
    border:1px solid #A20F96;
    padding: 8px 16px;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
}
.btn__more:hover{
    background:#A20F96;
}

.summary{
    margin-top:50px;
    display:flex;
    justify-content: space-between;
    max-width:500px;
}
.btn__extra{
    margin-top:25px;
    border-radius: 25px;
    background:transparent;
    border:1px solid #A20F96;
    padding: 14px 28px;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #6B0993 0%, #0888B8 118.06%);

}
.btn__extra:hover{
    background:#A20F96;
}
