@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background: #01053B;
}
.max-wrapper{
  width:100%;
  max-width:1600px;
  margin:0 auto;
}
.max-wrapper__content{
  width:94%;
  margin:0 auto;
}
.std-space-top{
  margin-top:50px;
}
.std-space-bottom{
  margin-bottom:50px;
}

button{
  background: #6B0993;
  padding:6px 12px;
  border-radius:4px;
  color:#fff;
  outline:none;
  border:1px solid transparent;
}

button:hover{
  border:1px solid #fff;
}

p{
  font-size:18px;
}


